modules = ["nodejs-20", "web", "python-3.11"]

[agent]
stack = "AGENT_STACK"
integrations = ["agentstack-trigger-telegram:1.0.0"]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["jq"]

[env]
MASTRA_HIDE_CLOUD_CTA = "true"

[deployment]
build = ["bash", "scripts/build.sh"]
run = ["sh", "-c", "cd .mastra/output && NODE_ENV=production node index.mjs"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 10000
externalPort = 3001

[[ports]]
localPort = 35531
externalPort = 3002

[[ports]]
localPort = 36057
externalPort = 4200

[[ports]]
localPort = 44799
externalPort = 5000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Personal Account Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Authenticate Pyrogram"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "yes | npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Personal Account Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python personal_account_autoreply.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Authenticate Pyrogram"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python authenticate_pyrogram.py"

[workflows.workflow.metadata]
outputType = "console"
